@using ToDoListApp.Areas.Admin.Models
@model PaginatedUsersViewModel

<h1>Admin Dashboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>List Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.ListCount</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (Model.TotalPages > 1)
    {
        <nav>
            <ul class="custom-pagination">
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="@(Model.CurrentPage == i ? "active" : "")">
                        <a href="/Admin/Admin/Index?page=@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>
