@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Bad request</h1>
<p>Your request resulted in an error.</p>
<p><a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Home</a></p>
