@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Internal Server Error</h1>
<p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
<p><a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Home</a></p>
