@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<h1>Page Not Found</h1>
<p>The page or resource you are looking for could not be found.</p>
<p><a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Home</a></p>
