@model AchievementViewModel

@section UserGreeting {
    <div>
        Hello there, lets see what did you achieved!
    </div>
}

<h1>Achievements</h1>

@await Html.PartialAsync("_BackToDashboardButton")

<div class="row achievements-area">
    <div class="col-md-6">
        <h2>Achieved</h2>
        <ul class="list-group">
            @foreach (var achievement in Model.Achieved)
            {
                <li class="list-group-item">
                    <strong>@achievement.Name</strong>
                    <p>@achievement.Description</p>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Available</h2>
        <ul class="list-group">
            @foreach (var achievement in Model.Available)
            {
                <li class="list-group-item">
                    <strong>@achievement.Name</strong>
                    <p>@achievement.Description</p>
                </li>
            }
        </ul>
    </div>
</div>
