@using ToDoListApp.Enums
@model AddToDoViewModel

<h1>Add New ToDo</h1>

<form asp-action="Add" method="post">
    <input type="hidden" asp-for="ListId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" class="form-control" placeholder="YYYY-MM-DD" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Priority">Priority</label>
        <select asp-for="Priority" asp-items="@(Html.GetEnumSelectList<Priority>())" class="form-control"></select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="TaskName">Task</label>
        <p id="TaskError" class="text-danger"></p>
        <input type="text" id="TaskName" class="form-control" />
        <button type="button" class="btn btn-primary mt-2" onclick="addTask()">Add Task</button>
        
    </div>

    <div id="TasksList" class="mt-3">
        <h5>Tasks:</h5>
        <ul id="TaskContainer"></ul>
    </div>

    <button type="submit" class="btn btn-success">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


<script src="~/js/site.js"></script>
