@using ToDoListApp.Enums
@model EditToDoViewModel

<h1>Edit ToDo</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ListId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" class="form-control" placeholder="YYYY-MM-DD" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Priority">Priority</label>
        <select asp-for="Priority" asp-items="@(Html.GetEnumSelectList<Priority>())" class="form-control"></select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a asp-action="Index" asp-route-listId="@Model.ListId" asp-route-sortOrder="default" class="btn btn-secondary">Cancel</a>
</form>
